/* header section  */
.header-section{
    background-image: url(images/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header-container{
    width: 400px;
    text-align: right;
    height: max-content;
    margin-right: 200px;
}
.header-name{
    font-weight: 800;
    color: white;
font-size: 60px;
margin-bottom: 24px;
}
.header-description{
    color: white;
}
.contact-us-btn, .call-now-btn{
color: #005FAC;
font-size: 20px;
width: 160px;
height: 60px;
font-weight: 600;
border-radius: 8px;
border: none;
}

/* failure section  */
.failure-section{
    display: flex;
    margin: auto 0;
    height: 620px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 100px;
}
.failure-info,.failure-person-img{
    width: 420px;
}
.failure-person-img img{
    width: 100%;
    height: 580px;
}
.failure-heading{
    font-size:40px;
}
.failure-list{
    display: flex;
    align-items: center;
}
.check-mark{
    color: green;
    font-size: 20px;
    font-weight: 900;
}

/* plans section  */
.my-plans{
    font-size: 40px;
}
.plans-section{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.plans{
    display: flex;
    justify-content: space-between;
}
.plan{
    width: 220px;
    text-align: center;
}

.plan h1{
font-size: 30px;
}
.plan p{
    font-size: 22px;
    color: #3a3939;
}

/* call now section */
.call-now{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 100px;
}
.call-now-info{
    width: 400px;
    margin-left:70px;
}
.call-now-info h1{
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    color: white;
}


/* footer section  */
footer{
    background-color:#151414;
    margin-top:100px;
    color: white;
}
.footer-section{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.footer-info{
    width: 450px;
}
.future-title{
    font-size:40px;
}
.social-links img{
    margin-right:7px;
}
.subscribe-title{
    font-size:30px;
color: white;
margin-top: 0px;
}
.subscribe-field{
    height: 50px;
    width: 300px;
    border-radius:8px;
    border: 2px solid white;
    background-color:#151414;
    font-size:18px;
    padding-left:10px;
}
input.subscribe-field{
    color: white;
}
.subscribe-btn{
        color: white;
        font-size: 18px;
        width: 140px;
        height: 60px;
        font-weight: 500;
        border-radius: 8px;
        border: none;
        background-color: #005FAC;
        margin-top: 15px;
}